{
  "Parameters" : {
    "pAppStackName"           : "{{ app_stack_name }}",
    "pArtifactsBucket"        : "{{ artifacts_bucket }}",
    "pCleanBranch"            : "{{ clean_branch }}",
    "pCodeBuildNumber"        : "{{ codebuild_build_number }}",
    "pDdbDeletionProtection"  : "{{ ddb_deletion_protection }}",
    "pDeletionPolicy"         : "{{ deletion_policy }}",
    "pEmailAdminInbox"        : "{{ email_admin_inbox }}",
    "pEnvironment"            : "{{ environment }}",
    "pHostedZone"             : "{{ hosted_zone }}",
    "pHostedZoneId"           : "{{ hosted_zone_id }}",
    "pPoolDeletionProtection" : "{{ pool_deletion_protection }}",
    "pProductComponent"       : "{{ product_component }}",
    "pProductName"            : "{{ product_name }}",
    "pRasdSupportEmail"       : "{{ rasd_support_email }}",
    "pSecretKeyName"          : "{{ secret_key_name }}",
    "pSubDomain"              : "{{ sub_domain }}",
    "pUpdateReplacePolicy"    : "{{ update_replace_policy }}"
  },
  "Tags" : {
    "product"     : "{{ product_name }}",
    "component"   : "{{ product_component }}",
    "environment" : "{{ environment }}",
    "branch"      : "{{ clean_branch }}",
    "version"     : "{{ commit_id }}",
    "build"       : "{{ codebuild_build_number }}"
  },
  "StackPolicy" : {
    "Statement" : [
      {
        "Effect" : "Allow",
        "Action" : "Update:*",
        "Principal": "*",
        "Resource" : "*"
      },
      {
        "Effect" : "Deny",
        "Action" : ["Update:Replace", "Update:Delete"],
        "Principal": "*",
        "Resource" : ["LogicalResourceId/DynamoDBTableRegistrations", "LogicalResourceId/DynamoDBTableOrganisations", "LogicalResourceId/DynamoDBTableMetadata", "LogicalResourceId/DynamoDBTableDataAccessRequests", "LogicalResourceId/CognitoPool"]
      }
    ]
  }
}
